##           #    Data Types and Structures Assignment.

1. What are data structures, and why are they important.
  > Data structures can be defined as methods of organizing and storing data in a computer's memory. They allow for efficient data management and support various operations such as insertion, deletion, searching, and sorting.
  Data structure are inportent for efficint data organitation, optimized performance, algoritham developement, memory management and improveing problem solving skill.

2. Explain the difference between mutable and immutable data types with  examples.
  > mutable data types.
   my_list = [1, 2, 3]
my_list.append(4)  # Modifies the original list
print(my_list)  # Output: [1, 2, 3, 4]

  > immutable data types.
   my_string = "hello"
new_string = my_string.upper()  # Creates a new string
print(my_string)  # Output: hello
print(new_string)  # Output: HELLO

3. What are the main differences between lists and tuples in Python.
  > the main difference bitween lists and tuple are:
   list is a mutable data structure and needed higher memory use.
   tuple is a immutable data structure and needed low memory use.

4. Describe how dictionaries store data.
  > In Python, dictionaries store data in key-value pairs, which allows for efficient and flexible data retrieval, enabling quick lookups and modifications.

5. Why might you use a set instead of a list in Python.
  > Using a set instead of a list in Python can provide several advantages, including uniqueness, faster membership testing, and operations that are not available for lists.

6. What is a string in Python, and how is it different from a list.
  > In Python, a string is a sequence of characters enclosed in quotes, while a list is a mutable collection that can hold various data types, including strings.

7. How do tuples ensure data integrity in Python.
  > Tuples safeguard data integrity in Python through their immutable nature, ensuring that once created, their contents cannot be altered.

8. What is a hash table, and how does it relate to dictionaries in Python.
  > A hash table is a data structure that stores key-value pairs for fast access, and in Python, dictionaries are the built-in implementation of hash tables.

9. Can lists contain different data types in Python.
  > Yes, lists can contain different data types, allowing for flexibility in storing mixed data within a single collection.

10. Explain why strings are immutable in Python.
  > Strings in Python are immutable, meaning they cannot be changed once created, which provides several benefits, including memory efficiency, security, and ease of use.

11. What advantages do dictionaries offer over lists for certain tasks.
  > Dictionaries in Python offer significant advantages over lists, particularly in terms of fast lookups, flexible data organization, and suitability for key-value pair relationships.

12. Describe a scenario where using a tuple would be preferable over a list.
  > Using a tuple would be preferable over a list in scenarios where the data must remain constant and immutable, such as storing geographic coordinates or fixed configuration settings.

13. How do sets handle duplicate values in Python.
  > In Python, sets automatically handle duplicate values by ensuring that all elements are unique; any attempts to add a duplicate element to a set will simply be ignored.

14. How does the “in” keyword work differently for lists and dictionaries.
  > The in and not in operator works on dictionaries; it tells you whether something appears or not as a key in the dictionary. It returns two values True or False. The in operator uses different algorithms for lists and dictionaries. For lists, it uses a search algorithm.

15. Can you modify the elements of a tuple? Explain why or why not.
  > No, you cannot modify the elements of a tuple in Python because tuples are immutable, meaning that once they are created, their values cannot be changed.

16. What is a nested dictionary, and give an example of its use case.
  > A nested dictionary in Python is a dictionary containing another dictionary (or dictionaries) as its value, allowing for hierarchical data representation.
  # A dictionary containing another dictionary
students = {
    "Student1": {
        "Name": "Aarav",
        "Age": 15,
        "Subjects": ["Math", "Science", "English"]
    },
    "Student2": {
        "Name": "Ishita",
        "Age": 14,
        "Subjects": ["History", "Math", "Biology"]
    }
}

# Accessing nested dictionary values
print(students["Student1"]["Name"])  # Output: Aarav
print(students["Student2"]["Subjects"])  # Output: ['History', 'Math', 'Biology']

# Adding a new student
students["Student3"] = {
    "Name": "Kabir",
    "Age": 16,
    "Subjects": ["Physics", "Chemistry", "Math"]
}

print(students)


17. Describe the time complexity of accessing elements in a dictionary.
  > The time complexity for accessing elements in a Python dictionary is generally
O(1), meaning that it allows for constant time complexity when retrieving values by their corresponding keys.

18. In what situations are lists preferred over dictionaries.
  > Lists are preferred over dictionaries in Python when maintaining order is crucial, when duplicates are allowed, or when sequential operations are frequently performed.

19. Why are dictionaries considered unordered, and how does that affect data retrieval.
  > Although dictionaries preserve insertion order starting from Python  3.7, their keys are unordered, meaning you cannot index or slice them like ordered structures. Elements are stored and retrieved in the order of insertion. No guaranteed order of elements.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  > In Python, a list is an ordered collection accessed by index, while a dictionary is an unordered collection accessed by keys, offering different data retrieval methods and performance characteristics.

#      # practical question

In [2]:
 # 1. Write a code to create a string with your name and print it.
name = "michal tamang"
print(name)

michal tamang

In [3]:
# 2. Write a code to find the length of the string "Hello World".
my_string = "Hello World"
len(my_string)

11

In [4]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
string = "python programming"
string[0:3]

'pyt'

In [5]:
# 4. Write a code to convert the string "hello" to uppercase.
my_string = "hello"
my_string.upper()

'HELLO'

In [6]:
from typing_extensions import overload
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
old_string = "I like apple"
new_string = old_string.replace("apple", "orange")
print(new_string)

I like orange

In [7]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
number = list(range(1,6))
print(number)

[1, 2, 3, 4, 5]

In [9]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [11]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [12]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list = ['a', 'b', 'c', 'd']
list[1]

'b'

In [13]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [14]:
# 11. . Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

In [17]:
 # 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple = ('red', 'green', 'blue', 'yellow')
tuple[1:4]

('green', 'blue', 'yellow')

In [18]:
# 13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
number = (10, 20, 5, 15)
minimum_number = min(number)
print(minimum_number)

5

In [20]:
# 14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
index_of_cat = tuple.index('cat')
print(index_of_cat)

1

In [21]:
# 15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruit = ('apple', 'orange', 'banana')
if 'kiwi' in fruit:
  print('kiwi is in the fruit')
else:
  print('kiwi is not in the fruit')

kiwi is not in the fruit

In [22]:
# 16. write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [23]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set = {1, 2, 3, 4, 5}
set.clear()
print(set)

set()

In [24]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [27]:
# 19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [29]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_result = set1.intersection(set2)
print(intersection_result)

{2, 3}

In [30]:
# 21. . Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dictionary = {"name": "michal tamang", "age": 28, "city": "Darjeeling"}
print(my_dictionary)

{'name': 'michal tamang', 'age': 28, 'city': 'Darjeeling'}

In [32]:
#22. . Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [1]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

In [3]:
# 24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'bob', 'age': 22, 'city': 'new york'}
del my_dict['age']
print(my_dict)

{'name': 'bob', 'city': 'new york'}

In [4]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'paris'}
if 'city' in my_dict:
  print('city is there in my_dict')
else:
  print('city is not there in my_dict')

city is there in my_dict

In [5]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1, 2, 3, 4, 5]
tuple = (10, 20, 30, 40)
dict = {'name': 'michal', 'age': 28, 'city': 'Darjeeling'}
print('my_list:', list)
print('my_tuple:', tuple)
print('my_dict:', dict)

my_list: [1, 2, 3, 4, 5]
my_tuple: (10, 20, 30, 40)
my_dict: {'name': 'michal', 'age': 28, 'city': 'Darjeeling'}

In [6]:
# 27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).
import random
random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()
print(random_numbers)

[16, 64, 71, 73, 78]

In [8]:
# 28. Write a code to create a list with strings and print the element at the third index.
my_list = ['orange', 'apple', 'banana', 'kiwi', 'mango']
my_list[3]

'kiwi'

In [19]:
# 29. Write a code to combine two dictionaries into one and print the result.
# Define two dictionaries
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'d': 4, 'e': 5, 'f': 6}

# Combine the dictionaries
dict1.update(dict2)

# Print the result
print("Combined Dictionary:", dict1)

Combined Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [20]:
# 30. Write a code to convert a list of strings into a set.
string_list = ['orange', 'banana', 'mango', 'apple']
string_set = set(string_list)
print(string_set)

{'apple', 'banana', 'mango', 'orange'}